<!DOCTYPE html>
<html ng-app="gemStore">

<head>
  <link rel="stylesheet" type="text/css" src="bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" src="application.css" />
  <script src="https://tanks-for-waiting.firebaseapp.com/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>

<body ng-controller="StoreController as store">
  <!--  Products Container  -->
  <div class="list-group">
    <!--  Product Container  -->
    <div class="list-group-item" ng-repeat="product in store.products">
      <h3>
        {{product.name}}
        <em>{{product.price | currency}}</em>
      </h3>
      <!-- Image Gallery  -->
      <div class="gallery" ng-show="product.images.length">
        <div>
          <img ng-src="{{product.images[0]}}" />
        </div>
        <ul>
          <li ng-repeat="image in product.images">
            <img ng-src="{{image}}" />
          </li>
        </ul>
      </div>
  </div>
</body>

</html>
